body {
    text-align: center;
}

div#geral {
    margin: 0 auto;
    text-align: left;
    width: 50%;
    background-color: lightgray;
}

div#geral h1 {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

div#geral h3 {
    margin: 0 auto;
    text-align: left;
    padding: 10px;
}

div#formulario label {
    font-weight: bold;
    float: left;
    width: 25%;
    text-align: right;
    padding-right: 5px;
}

div#formulario input {
    width: 65%;
}

div#botoes{
    text-align: center;
    padding: 10px;
}